DB_USER=postgres
DB_PASS=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=template-go-api

REDIS_URL=redis://localhost:6379/0

JWT_SECRET=change-this-in-production

STORAGE_ENDPOINT=localhost:9000
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_USE_SSL=false
STORAGE_BUCKET=my-bucket
